.cover__link {
  display: block;
  text-decoration: none;
  padding: 33px 0;
  color: var(--color-text);

  background-color: var(--color-cover);
}

@media (min-width: 550px) {
  .cover__link {
    padding: 115px 0;
  }
}

@media (min-width: 1024px) {
  .cover__link {
    padding: 195px 0;
    transition: 1s background-color ease-out;
    -webkit-transition: 1s background-color ease-out;
    -moz-transition: 1s background-color ease-out;
    -ms-transition: 1s background-color ease-out;
    -o-transition: 1s background-color ease-out;
}

  .cover__link:hover {
    background-color: var(--color-cover-hover);
  }
}

@media (min-width: 1280px) {
  .cover__link {
    padding: 245px 0;
  }
}
