.place__title {
  width: calc(100% - 2 * var(--margin-mob));
  margin: 0 0 0 var(--margin-mob);

  font-weight: 900;
  font-size: 2rem;
  line-height: 1.09;
}

@media (min-width: 768px) {
  .place__title {
    width: 97%;
    margin: 0;

    font-size: 2.625rem;
    line-height: 46px;
  }
}

@media (min-width: 1024px) {
  .place__title {
    font-size: 4.5rem;
    line-height: 1.06;
  }
}
