.photo-grid {
  width: calc(100vw - 2*16px);
}

@media (min-width: 768px) {
  .photo-grid {
    width: calc(100vw - 2*var(--margin-tab));
  }
}

@media (min-width: 1024px) {
  .photo-grid {
    width: calc(100vw - 2*var(--margin-dec));
  }
}

@media (min-width: 1280px) {
  .photo-grid {
    max-width: 1184px;
  }
}

