.places {
  padding: 0;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

@media (min-width: 768px) {
  .places {
    gap: 73px;
  }
}

@media (min-width: 1024px) {
  .places {
    width: calc(100vw - 2*var(--margin-dec));
    gap: 80px;
  }
}
