.page__header {
  margin: 16px auto 48px;
}

@media (min-width: 550px) {
  .page__header {
    margin-top: 28px;
    margin-bottom: 48px;
  }
}

@media (min-width: 1280px) {
  .page__header {
    margin-bottom: 56px;
  }
}
