.lead {
  width: 100vw;
}

@media (min-width: 1024px) {
  .lead {
    /* max-width: 984px; */
    width: calc(100vw - 2*var(--margin-dec));
  }
}

@media (min-width: 1280px) {
  .lead {
    max-width: 984px;
  }
}
