.cover__subtitle {
  max-width: 275px;
  margin: 0 auto;

  font-size: 0.875rem;
  line-height: 1.14;
  text-align: center;
}

@media (min-width: 550px) {
  .cover__subtitle {
    max-width: 375px;

    font-size: 1.125rem;
    line-height: 1.22;
  }
}
