.lead__title {
  width: calc(100% - 2 * var(--margin-mob));
  margin: 0 auto 16px;

  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.1;
  text-align: center;
}

@media (min-width: 768px) {
  .lead__title {
    max-width: 720px;
    margin: 0 auto 32px;

    font-size: 6rem;
    line-height: 1.04;
  }
}

