.intro__text {
  width: 100%;
  max-width: 720px;
  padding: 0;
  margin: 0 0 33px;

  font-size: 1rem;
  line-height: 1.63;
}

@media (min-width: 1024px) {
  .intro__text {
    max-width: 690px;
  }
}
