.lead__subtitle {
  width: calc(100% - 2*var(--margin-mob));
  margin: 0 auto 40px;

  font-size: 1rem;
  line-height: 1.25;
  text-align: center;
}

@media (min-width: 768px) {
  .lead__subtitle {
    max-width: 640px;
    margin-bottom: 56px;

    font-size: 1.875rem;
    line-height: 1.2;
  }
}

@media (min-width: 1280px) {
  .lead__subtitle {
    margin-bottom: 64px;
  }
}
