.cover {
  width: 100%;
  background: url("../../images/cover.jpg") center /cover no-repeat;
}

@media (min-width: 1280px) {
  .cover {
    max-width: 1184px;
    background-image: url("../../images/cover-dec.jpg");
  }
}
