.place__link {
  display: block;
  max-width: calc(100% - 2 * var(--margin-mob));
  margin: 0 0 0 var(--margin-mob);

  font-size: 1.125rem;
  line-height: 22px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  align-self: flex-start;
}

@media (min-width: 768px) {
  .place__link {
    margin: 0;
  }
}
