.cover__title {
  max-width: 288px;
  margin: 0 auto 16px;

  font-weight: 900;
  font-size: 2rem;
  line-height: 1.09;
  text-align: center;
}

@media (min-width: 550px) {
  .cover__title {
    margin: 0 auto 32px;
    max-width: 560px;

    font-size: 4.5rem;
    line-height: 1.06;
  }
}

