.page__section {
  margin: 0 auto 64px;
}

@media (min-width: 768px) {
  .page__section {
    margin-bottom: 88px;
    }
}

@media (min-width: 1024px) {
  .page__section {
    margin-bottom: 92px;
    }
}
