.place {
  list-style: none;
  width: 100%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

@media (min-width: 550px) {
  .place {
    width: calc(100vw - 2 * var(--margin-mob));
    grid-template-columns: 0.966fr 1fr;
    gap: 16px 28px;
  }
}

@media (min-width: 768px) {
  .place {
    width: calc(100vw - 2 * var(--margin-tab));
    grid-template-columns: minmax(340px, 0.966fr) minmax(352px, 1fr);
    gap: 48px 28px;
  }
}

@media (min-width: 1024px) {
  .place {
    width: calc(100vw - 2 * var(--margin-dec));
    grid-template-columns: minmax(440px, 0.965fr) 1fr;
    column-gap: 32px;
  }
}

@media (min-width: 1280px) {
  .place {
    grid-template-columns: 0.95fr 1fr;
    max-width: 984px;
    column-gap: 40px;
  }
}
