.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 18px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;

  padding-bottom: 5px;
}
